<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Página de error</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

</head>

    <div class="containerError">

        <i id="iconError" class="fas fa-exclamation-triangle"></i> <h1 class="titleError">Error</h1>

        <p class="entryError">Se ha producido un error por la siguiente causa:</p>
        <p class="textError">Aquí hay que poner el error que se ha producido (EJ: Error 404: file not found)</p>

    </div>


</body>
</html>